version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: api_dockerfile 
    container_name: django_api
    volumes:
      - ./backend/english_learning_app:/code
      - ./supervisord/default.conf:/etc/supervisor/conf.d/supervisord.conf
      - ./logs/supervisord:/var/log/supervisord
      - gunicorn_socket:/run/gunicorn
      - static_volume:/code/static
    expose:
      - "8000"
    depends_on:
      - redis
    restart: always

  web:
    build:
      context: .
      dockerfile: web_dockerfile
    container_name: react_app
    volumes:
      - ./frontend/english_flashcard_app:/app
      - /app/node_modules
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./logs/nginx:/var/log/nginx
      - gunicorn_socket:/run/gunicorn
      - static_volume:/code/static
    depends_on:
      - api
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always

volumes:
  gunicorn_socket:
  static_volume:
