version: '3.9'

services:
  web:
    build:
      context: .
    container_name: django_app
    volumes:
      - ./django:/code
      - ./logs:/code/logs
      - ./supervisord/default.conf:/etc/supervisor/conf.d/supervisord.conf
      - static_volume:/code/static
    expose:
      - "8000"
    depends_on:
      - redis
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/code/static
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always

volumes:
  static_volume:
